---
layout: default
---

<h2>Introduction</h2>

{{ content }}


<h2>Available Collections</h2>

<p>The following collections are available:</p>

{% assign entries = site.pages | sort: 'url' %}

<ul>
  {% for entry in entries %}
    {% unless entry.url == '/' or entry.url == '/404.html' or entry.url == '/sitemap.xml' or entry.url == '/robots.txt' or entry.url contains "/assets/" %}
      <li>
        <a href="{{ entry.url | prepend: site.baseurl }}">
          {{ entry.content | newline_to_br | split: '<br />'  | first | remove_first: "#" }}
        </a>
        <small>
          ({{ entry.url | remove_first: "/" | split: '/'  | first }})
        </small>
      </li>
    {% endunless %}
  {% endfor %}
</ul>

<hr>