---
layout: default
---

<h1>Collecties</h1>
<p>
  Dit project bevat lijsten met alle collecties die we (als gezin) hebben.
</p>
<p>
  Dit maakt het gemakkelijker om te zien welke items uit een verzameling we nog steeds missen.
</p>
<p>
  Het is ook handig als we een kringloopwinkel bezoeken of iemand een van de ontbrekende items als cadeau wil kopen.
</p>
</td>
<h2>Beschikbare collecties</h2>
<p>
  De volgende collecties zijn beschikbaar:
</p>

{% assign entries = site.pages | sort: 'content' %}

<ul>
  {% for entry in entries %}
    {% unless entry.url == '/' or entry.url == '/404.html' or entry.url == '/sitemap.xml' or entry.url == '/robots.txt' or entry.url contains "/assets/" %}
      <li>
        <a href="{{ entry.url | prepend: site.baseurl }}">
          {{ entry.content | newline_to_br | split: '<br />'  | first | remove_first: "#" }}
        </a>
        <small>
          ({{ entry.url | remove_first: "/" | split: '/'  | first }})
        </small>
      </li>
    {% endunless %}
  {% endfor %}
</ul>

<hr>